
<ion-header>

  <ion-navbar>
    <ion-title>Toogle</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

{{ativo}}


  <ion-list>

    <ion-item>
      <ion-label>Ativo : </ion-label>
      <ion-toggle [(ngModel)]="ativo"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Habilitado</ion-label>
      <ion-toggle color="danger"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Excluido</ion-label>
      <ion-toggle color="secondary"></ion-toggle>
    </ion-item>

    <ion-item>
    <ion-label>Disativado</ion-label>
    <ion-toggle disabled></ion-toggle>
  </ion-item>

  </ion-list>

</ion-content>
