<ion-header>

  <ion-navbar>
    <ion-title>Modal Principal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-item>
  <button ion-item (click)="abrirModalBasico()">Modal Basico</button>
</ion-item>
<ion-item>
  <button ion-item (click)="abrirModalComParamentros()">Modal Com parâmentos</button>
</ion-item>

  <ion-item>
  <button ion-item (click)="abrirModalComBotaoClose()">Modal Com Close</button>
</ion-item>
</ion-content>
