
<ion-header>

  <ion-navbar>
    <ion-title>icones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center class="icons-basic-page">

  <!--Basic: auto-select the icon based on the platform -->
  <ion-icon name="add-circle"></ion-icon>

  <!-- Advanced: mesmo icone para todas plataformas -->
  <ion-icon ios="ios-add-circle"></ion-icon>

  <ion-row>
    <ion-icon name="heart" isActive="false"></ion-icon>
  </ion-row>

</ion-content>
