
<ion-header>

  <ion-navbar>
    <ion-title>Fab</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-fab top right edge>
  <button ion-fab color="danger" mini><ion-icon name="add"></ion-icon></button>
<ion-fab-list>
    <button ion-fab ><ion-icon name="logo-facebook"></ion-icon></button>
    <button ion-fab ><ion-icon name="logo-twitter"></ion-icon></button>
</ion-fab-list>
</ion-fab>

    <ion-fab  bottom left edge>
        <button ion-fab color="danger" mini><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="right">
            <button ion-fab ><ion-icon name="logo-facebook"></ion-icon></button>
            <button ion-fab ><ion-icon name="logo-twitter"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>



    <ion-fab  center middle>
        <button ion-fab color="danger" mini><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab ><ion-icon name="logo-facebook"></ion-icon></button>
        </ion-fab-list>
        <ion-fab-list side="left">
            <button ion-fab ><ion-icon name="logo-facebook"></ion-icon></button>
        </ion-fab-list>
        <ion-fab-list side="right">
            <button ion-fab ><ion-icon name="logo-facebook"></ion-icon></button>
        </ion-fab-list>
        <ion-fab-list side="bottom">
            <button ion-fab ><ion-icon name="logo-facebook"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>


    <ion-fab  bottom right>
        <button ion-fab color="danger" mini><ion-icon name="md-share"></ion-icon></button>
        <ion-fab-list side="left">
            <button ion-fab ><ion-icon name="logo-facebook"></ion-icon></button>
            <button ion-fab ><ion-icon name="logo-twitter"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>


</ion-content>
