<ion-header>

    <ion-navbar>
        <ion-title>Pagina2</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list *ngIf="usuario != null">
        <ion-item>Nome : {{usuario.nome}}</ion-item>
        <ion-item>idade : {{usuario.idade}}</ion-item>
    </ion-list>

    <button ion-button (click)="fecharPagina()">Fechar pagina</button>
</ion-content>
