
<ion-header>

  <ion-navbar>
    <ion-title>Tabs</ion-title>
  </ion-navbar>

</ion-header>


<!--
tabsLayout="icon-end" ==icon fim
tabsLayout="icon-start" ==icon incio
tabsLayout ==icon em cima -->


<ion-content padding>
<ion-tabs tabs-only tabsLayout="icon-end" selectedIndex="2">
  <ion-tab tabTitle="botoes" [root]="botoesPage" tabIcon="albums"></ion-tab>
  <ion-tab tabTitle="Card" [root]="CardPage" tabIcon="star"></ion-tab>
  <ion-tab tabTitle="Toast" [root]="ToastPage" tabIcon="build"></ion-tab>
  
</ion-tabs>
</ion-content>
