<ion-header>

    <ion-navbar>
        <ion-title>Geolocalizacao</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    ghghhhghghghghgghh
   <h6> {{latitude}}</h6>
    <h6>{{longitude}}</h6>
</ion-content>
