
<ion-header>

  <ion-navbar>
    <ion-title>Store</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <ion-item>
    <button ion-button block (click)="Botao1()">Botão 1</button>
  </ion-item>
    <ion-item>
    <button ion-button block (click)="Botao2()">Botão 2</button>
  </ion-item>

    <p *ngIf="ultimoBotaoPressionado">
        Ultimo Botão Pressionado {{ultimoBotaoPressionado}}
    </p>
</ion-list>


</ion-content>
