<ion-header>

    <ion-navbar>
        <ion-title>Pagina Principal</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <h1>Navegue Para</h1>
    <ion-list>
        <ion-item (click)="abrirPagina1ComoRoot()">
            <ion-icon name="leaf" item-start></ion-icon>
            Pagina 1 como root
        </ion-item>

        <ion-item (click)="abrirPagina2ComoRoot()">
            <ion-icon name="leaf" item-start></ion-icon>
            Pagina 2 como root
        </ion-item>

        <ion-item (click)="abrirPagina1ComPush()">
            <ion-icon name="leaf" item-start></ion-icon>
            Pagina 1 como Push
        </ion-item>

        <ion-item (click)="abrirPagina2ComPush()">
            <ion-icon name="leaf" item-start></ion-icon>
            Pagina 2 como Push
        </ion-item>

    </ion-list>
</ion-content>

