<ion-header>

    <ion-navbar>
        <ion-title>List</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <h2>Lista com ion item</h2>

    <ion-list>
        <ion-list-header>Frutas</ion-list-header>
        <ion-item *ngFor="let item of itens" (click)="selecioneItem(item)">
            <ion-icon name="leaf" item-start></ion-icon>
            {{item}}
            <ion-badge item-end>1111</ion-badge>
        </ion-item>
    </ion-list>

    <h2>Lista avatar</h2>

    <ion-list>
        <ion-item *ngFor="let item of itens" (click)="selecioneItem(item)">
            <ion-avatar item-start>
                <img src="http://www.freewalkertours.com/rio/wp-content/uploads/sites/2/2017/05/o-que-fazer-no-rio-de-janeiro-cristo.jpg">
            </ion-avatar>
            {{item}}
            <p>item</p>
        </ion-item>
    </ion-list>


    <h2>Lista Slinding</h2>


        <ion-list>
            <ion-item-sliding>
                <ion-item>
                    <ion-avatar item-start>
                        <img src="http://www.freewalkertours.com/rio/wp-content/uploads/sites/2/2017/05/o-que-fazer-no-rio-de-janeiro-cristo.jpg">
                    </ion-avatar>
                    <h2>Teste Slinding</h2>
                </ion-item>
                <ion-item-options side="left">
                    <button ion-button color="primary">
                        <ion-icon name="text"></ion-icon>
                        Text
                    </button>
                    <button ion-button color="secondary">
                        <ion-icon name="call"></ion-icon>
                        Call
                    </button>
                </ion-item-options>
                <ion-item-options side="right">
                    <button ion-button color="primary">
                        <ion-icon name="mail"></ion-icon>
                        Email
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>

<h2></h2>
    <ion-list>
        <ion-item>
            <ion-thumbnail item-start>
                <img src="http://www.freewalkertours.com/rio/wp-content/uploads/sites/2/2017/05/o-que-fazer-no-rio-de-janeiro-cristo.jpg">
            </ion-thumbnail>
            <h2>My Neighbor Totoro</h2>
            <p>Hayao Miyazaki • 1988</p>
            <button ion-button clear item-end>View</button>
        </ion-item>
    </ion-list>

</ion-content>
