
<ion-header>

  <ion-navbar>
    <ion-title>RagerPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  {{brilhodaTela}}


  <ion-list>
    <ion-item>
      <ion-range [(ngModel)]="brilhodaTela" min="0" max="200" color="danger">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>200</ion-label>
      </ion-range>
    </ion-item>

    {{Taxa}}
    <ion-item>
      <ion-label>Doações</ion-label>
      <ion-range [(ngModel)]="Taxa" min="1000" max="2000" step="100" snaps="true" color="danger"></ion-range>
    </ion-item>


    faixaEtaria = {{faixaEtaria.lower}} - {{faixaEtaria.upper}}
    <ion-item>
      <ion-label>Faixa etaria do show</ion-label>
      <ion-range dualKnobs="true" pin="true" [(ngModel)]="faixaEtaria" color="dark">
        <ion-icon range-left small name="brush"></ion-icon>
        <ion-icon range-right small name="brush"></ion-icon>
      </ion-range>
    </ion-item>




  </ion-list>
</ion-content>
