
<ion-header>

  <ion-navbar>
    <ion-title>ActionSheet</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="AbrirActionSheet()">Toggle Menu</button>
</ion-content>
