
<ion-header>

  <ion-navbar>
    <ion-title>Badges</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-icon name="logo-twitter" item-start></ion-icon>
      Seguidores
      <ion-badge item-end>500k</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name="ios-alarm-outline" item-start></ion-icon>
      Hora de acorda
      <ion-badge item-end color="secondary">7:00hrs</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-facebook" item-start></ion-icon>
      Seguidores
      <ion-badge item-end color="danger">5000k</ion-badge>
    </ion-item>

  </ion-list>

</ion-content>
