<ion-header>

    <ion-navbar>
        <ion-title>Cep</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="form">
        <ion-list>
            <ion-item>
                <ion-label stacked>Informe seu Cep</ion-label>
                <ion-input type="number" formControlName="cep"></ion-input>
            </ion-item>
            <ion-item>
                <button ion-button (click)="consultarEnderecoPeloCep()">Consultar Cep</button>
            </ion-item>
        </ion-list>

<p *ngIf="response">
    Cep : {{response.cep}}<br>
    Bairro : {{response.bairro}}<br>
    Localidade : {{response.localidade}}<br>
    Logradouro : {{response.logradouro}}<br>
</p>

    </form>
</ion-content>
