
<ion-header>

  <ion-navbar>
    <ion-title>Typografia</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h1 ion-text color="primary">Conteudo h1</h1>
<h2 ion-text color="secondary">Conteudo h2</h2>
<h3 ion-text color="primary">Conteudo h3</h3>
<h4 ion-text color="primary">Conteudo h4</h4>
<h5 ion-text color="primary">Conteudo h5</h5>
<h6 ion-text color="primary">Conteudo h6</h6>

  <p>
    I saw a werewolf with a Chinese menu in his hand.
    Walking through the <sub ion-text color="danger">streets</sub> of Soho in the rain.
    He <i ion-text color="primary">was</i> looking for a place called Lee Ho Fook's.
    Gonna get a <a ion-text color="secondary">big dish of beef chow mein.</a>
  </p>

  <p>
    He's the hairy-handed gent who ran amuck in Kent.
    Lately he's <sup ion-text color="primary">been</sup> overheard in Mayfair.
    Better stay away from him.
    He'll rip your lungs out, Jim.
    I'd like to meet his tailor.
  </p>
</ion-content>
