
<ion-header>

  <ion-navbar>
    <ion-title>Chips</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>
<h2>Chips -> Text</h2>
  <ion-chip>
    <ion-label>Ionic</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-label>PHP</ion-label>
  </ion-chip>

    <h2>Chips -> Com Cores e Icones</h2>
    <ion-chip color="dark">
        <ion-icon name="heart" color="danger"></ion-icon>
        <ion-label>Ionic</ion-label>
    </ion-chip>

    <h2>Chips -> Com Avantar</h2>
    <ion-chip >
        <ion-avatar>
            <img src="http://www.freewalkertours.com/rio/wp-content/uploads/sites/2/2017/05/o-que-fazer-no-rio-de-janeiro-cristo.jpg">
        </ion-avatar>
        <ion-label>Ionic</ion-label>
    </ion-chip>

    <h2>Chips -> Com Avantar no final</h2>
    <ion-chip >

        <ion-label>Ionic</ion-label>
        <ion-avatar>
            <img src="http://www.freewalkertours.com/rio/wp-content/uploads/sites/2/2017/05/o-que-fazer-no-rio-de-janeiro-cristo.jpg">
        </ion-avatar>
    </ion-chip>
</ion-content>
