<ion-header>

    <ion-navbar>
        <ion-title>Card</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <ion-card-header>
            card Simples
        </ion-card-header>

        <ion-card-content>
            Criando Card Simples
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Lanches
        </ion-card-header>
        <ion-list>
            <button ion-item>
                <ion-icon name="cart" item-start></ion-icon>
                Hamburger
            </button>
            <button ion-item>
                <ion-icon name="beer" item-start></ion-icon>
                Coca cola
            </button>
        </ion-list>
    </ion-card>

    <ion-card>
        <img src="../assets/imgs/logo.png">

        <ion-card-content>
            <ion-card-title>Curso de Ionic</ion-card-title>
            <p>Aprendar Criar aplicativos Robustos</p>
        </ion-card-content>

    </ion-card>
    <ion-card>

        <ion-row no-padding>
            <ion-col>
                <button ion-button clear small color="danger" ion-start>
                    <ion-icon name="star"></ion-icon>
                    Favorito
                </button>
            </ion-col>

            <ion-col text-center>
                <button ion-button clear small color="danger" ion-start>
                    <ion-icon name="musical-notes"></ion-icon>
                    Ouvir
                </button>
            </ion-col>
            <ion-col text-right>
                <button ion-button clear small color="danger" ion-start>
                    <ion-icon name="share-alt"></ion-icon>
                    Compartilhar
                </button>
            </ion-col>

        </ion-row>
    </ion-card>

    <ion-card>
        <img src="http://www.freewalkertours.com/rio/wp-content/uploads/sites/2/2017/05/o-que-fazer-no-rio-de-janeiro-cristo.jpg">
        <div class="titulo-card">Rio de Janeiro</div>
        <div class="subtitulo-card">5.000,00 Habitante</div>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="https://i.pinimg.com/280x280_RS/18/e5/fe/18e5fe2f30be7c8845d942f3cdd626d5.jpg" alt="">
            </ion-avatar>
            <h2>Ender Scopel</h2>
            <p>14/05/1989</p>
        </ion-item>
        <img src="http://www.freewalkertours.com/rio/wp-content/uploads/sites/2/2017/05/o-que-fazer-no-rio-de-janeiro-cristo.jpg">

        <ion-card-content>
            <p>Estude ionic pra seu futuro</p>
        </ion-card-content>
   
        <ion-row>
            <ion-col>
                <button ion-button icon-left clear small>
                    <ion-icon name="md-create"></ion-icon>
                    <div>12 curtidas</div>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-center clear small>
                    <ion-icon name="text"></ion-icon>
                    <div>50 Comentarios</div>
                </button>
            </ion-col>
            <ion-col center text-center>
                <button ion-button icon-right clear small>
                    <ion-icon name="md-create"></ion-icon>
                    <div>12 Cutucadas</div>
                </button>
            </ion-col>
            <ion-note>
                5 star
            </ion-note>
        </ion-row>
    </ion-card>

    <ion-card>
            <img src="http://www.freewalkertours.com/rio/wp-content/uploads/sites/2/2017/05/o-que-fazer-no-rio-de-janeiro-cristo.jpg">
        <ion-fab right top>
            <button ion-fab>
                <ion-icon name="pin"></ion-icon>
            </button>
        </ion-fab>
    </ion-card>

    

</ion-content>
