//css apenas pra pagina card

page-card {
  ion-card {
    position: relative;
    text-align: center;
  }
  .titulo-card {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .subtitulo-card {
    font-size: 1.0em;
    position: absolute;
    top: 59%;
    width: 100%;
    color: #fff;
  }
}
