
<ion-header>

  <ion-navbar>
    <ion-title>Radio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list radio-group>
    <ion-list-header>Frutas</ion-list-header>
  <ion-item>
    <ion-label>Maça</ion-label>
    <ion-radio checked="true" value="M"></ion-radio>
  </ion-item>

    <ion-item>
      <ion-label>Abacate</ion-label>
      <ion-radio disabled="true" value="A"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Amora</ion-label>
      <ion-radio  value="AM" color="danger"></ion-radio>
    </ion-item>

  </ion-list>
</ion-content>
