
<ion-header>

  <ion-navbar>
    <ion-title>Grid</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid>
  <ion-row align-items-center justify-content-center>
    <ion-col col-sm-12 col-md-8 col-lg-6 text-center>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam, id. Ab ad amet atque blanditiis enim, eveniet ipsam nisi non perspiciatis praesentium quia quidem quod voluptatum. Amet, nemo, obcaecati?</ion-col>
  <ion-list>
    <ion-item>
      <ion-label fixed>Nome : </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Senha : </ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>

  </ion-list>

  </ion-row>
</ion-grid>
</ion-content>
