
<ion-header>

  <ion-navbar>
    <ion-title>Segments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div padding>
        <ion-segment [(ngModel)]="pet">
          <ion-segment-button value="cacborros">
            Cachorros
          </ion-segment-button>
          <ion-segment-button value="gatos">
            Gatos
          </ion-segment-button>
        </ion-segment>
      </div>



  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'cachorros'" >
      <ion-item>
        <ion-thumbnail item-start>
          <img src="https://www.veterinariapromove.com.br/images/gallery/10.jpg" alt="">
        </ion-thumbnail>
        <h2>Ruby</h2>
        </ion-item>

      <ion-item>
          <ion-thumbnail item-start>
            <img src="https://www.veterinariapromove.com.br/images/gallery/10.jpg" alt="">
          </ion-thumbnail>
          <h2>cristal</h2>
        </ion-item>

    </ion-list>

        <ion-list *ngSwitchCase="'gatos'" >
            <ion-item>
              <ion-thumbnail item-start>
                <img src="  https://www.veterinariapromove.com.br/images/gallery/11-a.jpg" alt="">
              </ion-thumbnail>
              <h2>Luna</h2>
            </ion-item>

            <ion-item>
                <ion-thumbnail item-start>
                  <img src="  https://www.veterinariapromove.com.br/images/gallery/11-a.jpg" alt="">
                </ion-thumbnail>
                <h2>esperannça</h2>
              </ion-item>
            
          </ion-list>

  </div>

     
  

  

</ion-content>
