
<ion-header>

  <ion-navbar>
    <ion-title>Camera</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<button ion-button block (click)="tiraFoto()">Tira fotos</button>
  <ion-card>
    <img [hidden]="!foto" src="{{foto}}">
  </ion-card>
</ion-content>
