
<ion-header>

  <ion-navbar>
    <ion-title>AlertPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="BasicAlert()">Alerta Simples</button>
  <button ion-button (click)="ConfirmAlert()">Alerta Confirmação</button>
  <button ion-button (click)="InputAlert()">Abrir com entrada de dados</button>
  <button ion-button (click)="RadioAlert()">Abrir Radio de dados</button>
  <button ion-button (click)="checkAlert()">Abrir dados (checkbox)</button>

</ion-content>
