<ion-header>

    <ion-navbar>
        <ion-title>Input</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label>Email</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Senha</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Idade (Floating)</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Nome (stacked)</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked color="danger">SobreNome </ion-label>
            <ion-input type="text" placeholder="digite seu ultimo nome"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked color="danger">Telefone </ion-label>
            <ion-input type="tel"></ion-input>
        </ion-item>



    </ion-list>
</ion-content>
