
<ion-header>

  <ion-navbar>
    <ion-title>Toast</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-button block (click)="showToast('top')">Exibir Toast em cima</button>
  <button ion-button block (click)="showToast('midlle')">Exibir Toast em meio</button>
  <button ion-button block (click)="showToast('bottom')">Exibir Toast em baixo</button>
  <button ion-button block (click)="showLongToast()">Exibir Toast Longo</button>
  <button ion-button block (click)="showToastWithCloseButtom()">Exibir Toast botao fechar dentro</button>
</ion-content>
