
<ion-header>

  <ion-navbar>
    <ion-title>Select</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label>Gaming</ion-label>
      <ion-select [(ngModel)]="gaming">
        <ion-option value="nes">NES</ion-option>
        <ion-option value="n64">Nintendo64</ion-option>
        <ion-option value="ps">PlayStation</ion-option>
        <ion-option value="genesis">Sega Genesis</ion-option>
        <ion-option value="saturn">Sega Saturn</ion-option>
        <ion-option value="snes">SNES</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>


  <ion-list>
    <ion-item>
      <ion-label>Toppings</ion-label>
      <ion-select [(ngModel)]="toppings" multiple="true" cancelText="X" okText="add!">
        <ion-option value="bacon" selected="true">Bacon</ion-option>
        <ion-option value="olives">Black Olives</ion-option>
        <ion-option value="xcheese" selected="true">Extra Cheese</ion-option>
        <ion-option value="peppers">Green Peppers</ion-option>
        <ion-option value="mushrooms">Mushrooms</ion-option>
        <ion-option value="onions">Onions</ion-option>
        <ion-option value="pepperoni">Pepperoni</ion-option>
        <ion-option value="pineapple">Pineapple</ion-option>
        <ion-option value="sausage">Sausage</ion-option>
        <ion-option value="Spinach">Spinach</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Toppings</ion-label>
      <ion-select [(ngModel)]="toppings" disabled multiple="true" cancelText="X" okText="add!">
        <ion-option value="bacon" selected="true">Bacon</ion-option>
        <ion-option value="olives">Black Olives</ion-option>
        <ion-option value="xcheese" selected="true">Extra Cheese</ion-option>
        <ion-option value="peppers">Green Peppers</ion-option>
        <ion-option value="mushrooms">Mushrooms</ion-option>
        <ion-option value="onions">Onions</ion-option>
        <ion-option value="pepperoni">Pepperoni</ion-option>
        <ion-option value="pineapple">Pineapple</ion-option>
        <ion-option value="sausage">Sausage</ion-option>
        <ion-option value="Spinach">Spinach</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

<!-- [] == pega informação que vem do tela pra codigo ex select.ts-->
<!-- () == pega informação que vem do codigo pra tela -->
<!-- ([]) == true database mexe nos dois -->
<!-- interface alert e padrão -->
    <ion-list>
    <ion-item>
      <ion-label>Frutas</ion-label>
      <ion-select [selectOptions]="selectOptions" [(ngModel)]="Frutas"  multiple="true" cancelText="X" okText="add!">
        <ion-option value="bacon" selected="true">Bacon</ion-option>
        <ion-option value="olives">Black Olives</ion-option>
        <ion-option value="xcheese">Extra Cheese</ion-option>
        <ion-option value="peppers">Green Peppers</ion-option>
        <ion-option value="mushrooms">Mushrooms</ion-option>
        <ion-option value="onions">Onions</ion-option>

      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Action sheet usando</ion-label>
      <ion-select interface="action-sheet">
        <ion-option value="bacon" selected="true">Bacon</ion-option>
        <ion-option value="olives">carnes</ion-option>
        <ion-option value="xcheese">hambugers</ion-option>
        <ion-option value="peppers">batata fritas</ion-option>


      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Alert</ion-label>
      <ion-select interface="alert">
        <ion-option value="bacon" selected="true">Bacon</ion-option>
        <ion-option value="olives">carnes</ion-option>
        <ion-option value="xcheese">hambugers</ion-option>
        <ion-option value="peppers">batata fritas</ion-option>


      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>SELECT popovers</ion-label>
      <ion-select interface="popover">
        <ion-option value="bacon" selected="true">Bacon</ion-option>
        <ion-option value="olives">carnes</ion-option>
        <ion-option value="xcheese">hambugers</ion-option>
        <ion-option value="peppers">batata fritas</ion-option>


      </ion-select>
    </ion-item>
  </ion-list>


</ion-content>
