<ion-header>

    <ion-navbar>
        <ion-title>Popovers</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <button ion-button block (click)="AbrirPopovers()">Abrir Popovers</button>
    </ion-item>
</ion-content>
