<ion-header>

    <ion-navbar>
        <ion-buttons start>
            <button ion-button icon-only>
                <ion-icon name="contact"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Botoes</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <h2>Botão Padrões</h2>
    <button ion-button>Primary</button>
    <button ion-button color="secondary">Secondary</button>
    <button ion-button color="danger">Danger</button>
    <button ion-button color="light">Light</button>
    <button ion-button color="dark">Dark</button>


    <h2>Botão Outline</h2>
    <button ion-button outline>Primary</button>
    <button ion-button outline color="secondary">Secondary</button>
    <button ion-button outline color="danger">Danger</button>
    <button ion-button outline color="light">Light</button>
    <button ion-button outline color="dark">Dark</button>

    <h2>Botão Clear</h2>
    <button ion-button clear>Primary</button>
    <button ion-button clear color="secondary">Secondary</button>
    <button ion-button clear color="danger">Danger</button>
    <button ion-button clear color="light">Light</button>
    <button ion-button clear color="dark">Dark</button>

    <h2>Botão Round</h2>
    <button ion-button round>Primary</button>
    <button ion-button round color="secondary">Secondary</button>
    <button ion-button round color="danger">Danger</button>
    <button ion-button round color="light">Light</button>
    <button ion-button round color="dark">Dark</button>

    <h2>Botão Block</h2>
    <button ion-button block>Primary</button>
    <button ion-button block color="secondary">Secondary</button>
    <button ion-button block color="danger">Danger</button>
    <button ion-button block color="light">Light</button>
    <button ion-button block color="dark">Dark</button>

    <h2>Botão Full - sem bordas</h2>
    <button ion-button full>Primary</button>
    <button ion-button full color="secondary">Secondary</button>
    <button ion-button full color="danger">Danger</button>
    <button ion-button full color="light">Light</button>
    <button ion-button full color="dark">Dark</button>

    <h2>Botão small e large</h2>
    <button ion-button small>Small</button>
    <button ion-button large>Large</button>

    <h2>Botão com icon</h2>
    <button ion-button icon-left>
        <ion-icon name="home">Icon a esquerda</ion-icon>
    </button>

    <button ion-button icon-only>
        <ion-icon name="home"></ion-icon>
    </button>

    <h2>Botão sem Texto</h2>
    <button ion-button icon-left>
        <ion-icon name="home">Icon a esquerda</ion-icon>
    </button>

    <h2>Botão Meu estilo</h2>
    <button ion-button color="minhaCor">Manipulando a Cor</button>


</ion-content>
