
<ion-header>

  <ion-navbar>
    <ion-title>Barcode</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<button ion-button block (click)="ScannearProdutos()">Escannear Produtos</button>
</ion-content>
