
<ion-header>

  <ion-navbar>
    <ion-title>datetime</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
        <ion-title>Datetime</ion-title>
    </ion-list>

  <ion-list>
      <ion-item>
          <ion-label>Star Date</ion-label>
          <ion-datetime displayFormat="MMMM DD YYYY" [(ngModel)]="event.month">Star Date</ion-datetime>
      </ion-item>

      <ion-item>
          <ion-label>Time - Trabalhando com horas</ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="timeStarts">Star Date</ion-datetime>
      </ion-item>
  </ion-list>

</ion-content>
