
<ion-header>

  <ion-navbar>
    <ion-title>Loading</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<button ion-button (click)="salvar()">Salvar</button>
<button ion-button (click)="salvarSemSpinner()">Salvar sem Spinner</button>
<button ion-button (click)="salvarCustomizado()">Salvar Customizado</button>
<button ion-button (click)="salvarComSpinnerDiferente()">Salvar com Spinner Diferente</button>

  <ion-spinner name="dots">Dots</ion-spinner>
  <ion-spinner name="crescent">crescente</ion-spinner>
  <ion-spinner >Default</ion-spinner>
  <ion-spinner name="ios">IOS</ion-spinner>
  <ion-spinner name="circle">Circle</ion-spinner>
</ion-content>
