
<ion-header>

  <ion-navbar>
    <ion-title>Pagina1</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Navegue Para</h1>
  <ion-list>
    <ion-item (click)="abrirPagina2ComoRoot()">
      <ion-icon name="leaf" item-start></ion-icon>
      Pagina 2 como root
    </ion-item>

    <ion-item (click)="abrirPagina2ComoPush()">
      <ion-icon name="leaf" item-start></ion-icon>
      Pagina 2 como Push
    </ion-item>

    <ion-item (click)="abrirPagina2Comoparamentros()">
      <ion-icon name="leaf" item-start></ion-icon>
      Pagina 2 como Paramentros
    </ion-item>


  </ion-list>
</ion-content>
