<ion-header>

    <ion-toolbar color="primary">
        <ion-buttons start>
            <button ion-button ion-only>
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Toolbar</ion-title>

        <ion-buttons end>
            <button ion-button ion-only>
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>

    </ion-toolbar>

</ion-header>


<ion-content padding>

        <ion-segment>
            <ion-segment-button value="new">
                New
            </ion-segment-button>
            <ion-segment-button value="hot">
                Hot
            </ion-segment-button>
        </ion-segment>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <p> Ender</p>
        <ion-buttons end>
            <button ion-button icon-right color="secondary">
                Enviar
                <ion-icon name="send"></ion-icon>
            </button>
        </ion-buttons>

    </ion-toolbar>
</ion-footer>
