<ion-header>

    <ion-navbar>
        <ion-title>Slides</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-slides (ionSlideDidChange) = "sliderAlterado()" loop="false" style="background: #fefefe;">
        <ion-slide>
            <img src="./assets/slides/slider1.jpg" alt="">
        </ion-slide>
        <ion-slide>
            <img src="./assets/slides/slider2.jpg" alt="">
        </ion-slide>
        <ion-slide>
            <img src="./assets/slides/slider3.jpg" alt="">
        </ion-slide>
    </ion-slides>

    <button ion-button block (click)="avancarSlider()">Avancar</button>
</ion-content>
