
<ion-header>

  <ion-navbar>
    <ion-title>Checkbox</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label>Daenerys Targaryen</ion-label>
        <ion-checkbox color="dark" checked="true"></ion-checkbox>
      </ion-item>
      
      <ion-item>
        <ion-label>Arya Stark</ion-label>
        <ion-checkbox disabled="true"></ion-checkbox>
      </ion-item>

</ion-content>
