
<ion-header>

  <ion-navbar>
    <ion-title>estilizacao</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<button ion-button block color="primary">Confirmação</button>
</ion-content>
